main,
section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 1;
}

main h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: 5rem;
  color: var(--clr-highlight);
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--clr-highlight), 0 0 82px var(--clr-highlight),
    0 0 92px var(--clr-highlight), 0 0 102px var(--clr-highlight),
    0 0 151px var(--clr-highlight);
  z-index: 1;
  margin: 2rem;
}

main form {
  background: transparent;
  color: var(--clr-highlight);
  padding: 2rem 1rem;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid var(--clr-highlight);
  font-family: "Tilt Neon", sans-serif;
  font-size: 1.5rem;
  box-shadow: 0 0 50px 15px rgba(153, 223, 237, 0.8);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

form input {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--clr-highlight);
}

.game-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
}

.square {
  background: #ffff;
  font-family: "Fredericka the Great", serif;
  border: 2px solid var(--clr-highlight);
  text-align: center;
  margin: 0.2rem;
  padding: 2.5rem;
  height: 7rem;
  width: 7rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.X {
  color: var(--clr-primary);
}

.square.O {
  color: var(--clr-secondary);
}

.square.wonClass {
  background-color: var(--clr-dark);
}

.square.wonClass.X {
  border-color: var(--clr-primary);
}

.square.wonClass.O {
  border-color: var(--clr-secondary);
}

.users-wrap, .status-wrap {
  background: #fff;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 2rem;
  font-family: "Fredericka the Great", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name, .status {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}